.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px "HarmonyOS", "Helvetica Neue", "Luxi Sans", "DejaVu Sans",
    "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    "EmojiSymbols" !important;
  background-color: #f5f5f5;
  color: #333;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.container footer {
  margin-top: 2rem;
  margin-bottom: 0.5em;
  text-align: center;
  color: #777;
  font-size: 0.9rem;
}
.container footer p {
  margin: 0.2rem 0;
}
.input {
  width: 100%;
  max-width: 400px;
}
.input-icon {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  object-fit: cover;
  overflow: hidden;
  display: inline-flex;
}
.icon {
  width: 2em;
  text-align: center;
}
.text-lg {
  font-size: 1.25em;
}
.flex-middle {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.py-2 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.px-2 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.pl-2 {
  padding-left: 0.5em;
}
.pr-2 {
  padding-right: 0.5em;
}
.pt-2 {
  padding-top: 0.5em;
}
.pb-2 {
  padding-bottom: 0.5em;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.color-item {
  display: inline-flex;
  position: relative;
}
.color-item sl-icon {
  position: absolute;
  bottom: .2em;
  right: 0;
  font-size: 0.8em;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: .8em;
  display: none;
  cursor: pointer;
}
.color-item:hover sl-icon {
  display: inline-flex;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.hidden {
  display: none;
}
.flex-1 {
  flex: 1;
}