:root {
  --article-body-width: 800px;
  --article-font-size: 18px;
  --dashboard-shadow: 0 1px 4px rgba(21, 26, 48, 0.08);
  --primary-color: #e59230;
}
* {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 鱼乎 Home*/
.container {
  box-sizing: border-box;
  margin: 20px 10%;
  background: white;
  padding: 20px;
  box-shadow: var(--dashboard-shadow);
}
.yuhu-main-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.yuhu-search {
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10%;
  box-sizing: border-box;
}

.yuhu-search-input {
  width: calc(80% - 80px);
  height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.16);
}
.yuhu-search-label {
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.yuhu-container {
  margin: 20px 10%;
  padding: 20px;
  background-color: white;
  box-shadow: var(--dashboard-shadow);
  .yuhu-title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  }
}

/* 鱼乎 作者工作台 侧边栏 */
.dashboard-container {
  width: 70%;
  min-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 20px auto;

  .dashboard-left {
    width: 85%;
    .dashboard-box {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  .dashboard-right {
    width: 14%;
  }

  .dashboard-content {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--dashboard-shadow);
    .dashboard-content-title {
      font-size: 18px;
      font-weight: 500;
      border-bottom: 1px solid rgba(0, 0, 0, 0.16);
      margin-bottom: 10px;
      padding: 8px 0;
    }
  }

  .dashboard-manu {
    padding: 10px 0;
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--dashboard-shadow);
    .dashboard-manu-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 8px 10px;
      cursor: pointer;
      transition: 0.5s;
      border-radius: 5px;
      margin: 10px;
      &:hover,
      &.active {
        color: #fff;
        background-color: var(--primary-color);
      }
    }
  }

  .author-tag {
    padding: 5px 10px;
    border-radius: 5px;

    &.normal {
      color: #fff;
      background-color: var(--primary-color);
    }
  }

  .books-avatar {
    width: 100px;
    height: 140px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 5px;
  }
}

/* 鱼乎 文章 */
/* 右侧菜单栏 */
.right-nav-box {
  position: fixed;
  left: calc(50% + (var(--article-body-width) / 2) + 10px);
  top: calc(50% - 200px);
  transition: 0.5s;

  .right-nav {
    display: flex;
    flex-direction: column;
    list-style: none;

    .right-nav-item {
      margin: 5px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      font-size: 14px;
      background-color: #dcebdd;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: var(--primary-color);
      }

      svg {
        width: 18px;
        height: 18px;
        margin-bottom: 3px;
      }

      &.top svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}

/* 设置框 */
.setting-box {
  display: none;
  position: absolute;
  right: 80px;
  top: 20px;
  padding: 40px 30px 30px;
  width: 420px;
  height: 424px;
  box-sizing: border-box;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.16);
  background-color: #ebfaeb;

  .setting-item {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin: 15px 0;

    .setting-item-label {
      font-size: 12px;
      margin-right: 10px;
    }

    .color-item {
      width: 36px;
      height: 36px;
      border: 1px solid #333333;
      border-radius: 50%;
      margin: 0 8px;
      transition: 0.5s;
      cursor: pointer;

      &.light {
        background-color: #dcebdd;
      }

      &.night {
        background-color: #111111;
      }

      &:hover,
      &.active {
        border: 1px solid var(--primary-color);
      }

      &.active::after {
        content: "\2713";
        color: var(--primary-color);
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .page-width {
      width: 52px;
      height: 36px;
      border: 1px solid #333333;
      cursor: pointer;
      transition: 0.5s;
      border-radius: 5px;
      text-align: center;
      line-height: 36px;

      &:hover,
      &.active {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
      }
    }

    .font-size-controller-box {
      width: 280px;
      height: 36px;
      border: 1px solid #333333;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      font-size: 18px;

      .font-size-input {
        font-size: 16px;
      }

      .font-size-controller {
        width: 90px;
        height: 36px;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.5s;
        background: rgba(255, 255, 255, 0);
        text-align: center;
        line-height: 36px;

        &:hover {
          color: var(--primary-color);
          background: rgba(255, 255, 255, 0.16);
        }
      }
    }
  }
}

/* 文章 */
.article {
  background-color: #c7dcc8;
  padding-top: 0 !important;
  transition: 0.5s;
  min-width: 1000px;

  .article-body {
    position: relative;
    margin: 0 auto;
    padding: 80px 64px !important;
    width: var(--article-body-width);
    background-color: #dcebdd;
    box-sizing: border-box;
    transition: 0.5s;

    .article-desc {
      display: flex;
      justify-content: start;
      color: grey;
      margin: 10px 0;

      .article-desc-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
    }

    .article-title {
      text-align: left !important;
      font-size: calc(var(--article-font-size) * 1.5);
    }

    .article-content {
      text-indent: 2rem;
      font-size: var(--article-font-size);
    }
  }

  &.night {
    background-color: #0a0a0a;

    .article-body {
      background-color: #111111;
      color: rgba(255, 255, 255, 0.6) !important;

      .article-desc {
        color: rgba(255, 255, 255, 0.4);
      }

      .article-content {
        color: #989898 !important;
      }
    }

    .right-nav-item {
      background-color: #191919;
      color: #989898 !important;

      &:hover {
        color: var(--primary-color) !important;
      }
    }

    .setting-box {
      background-color: #1f1f1f;
      color: rgba(255, 255, 255, 0.6) !important;
    }
  }
}
