:root {
  --article-body-width: 800px;
  --article-font-size: 18px;
}

/* 右侧菜单栏 */
.right-nav-box {
  position: fixed;
  left: calc(50% + (var(--article-body-width) / 2) + 10px);
  top: calc(50% - 200px);
  transition: .5s;

  .right-nav {
    display: flex;
    flex-direction: column;
    list-style: none;

    .right-nav-item {
      margin: 5px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      font-size: 14px;
      background-color: #dcebdd;
      border-radius: 5px;
      cursor: pointer;
      transition: .5s;

      &:hover {
        color: #e59230;
      }

      svg {
        width: 18px;
        height: 18px;
        margin-bottom: 3px;
      }

      &.top svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}

/* 设置框 */
.setting-box {
  display: none;
  position: absolute;
  right: 80px;
  top: 20px;
  padding: 40px 30px 30px;
  width: 420px;
  height: 424px;
  box-sizing: border-box;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .16);
  background-color: #ebfaeb;

  .setting-item {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin: 15px 0;

    .setting-item-label {
      font-size: 12px;
      margin-right: 10px;
    }

    .color-item {
      width: 36px;
      height: 36px;
      border: 1px solid #333333;
      border-radius: 50%;
      margin: 0 8px;
      transition: .5s;
      cursor: pointer;

      &.light {
        background-color: #dcebdd;
      }

      &.night {
        background-color: #111111;
      }

      &:hover, &.active {
        border: 1px solid #e59230;
      }

      &.active::after {
        content: "\2713";
        color: #e59230;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .page-width {
      width: 52px;
      height: 36px;
      border: 1px solid #333333;
      cursor: pointer;
      transition: .5s;
      border-radius: 5px;
      text-align: center;
      line-height: 36px;

      &:hover, &.active {
        border: 1px solid #e59230;
        color: #e59230;
      }
    }

    .font-size-controller-box {
      width: 280px;
      height: 36px;
      border: 1px solid #333333;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      font-size: 18px;

      .font-size-input {
        font-size: 16px;
      }

      .font-size-controller {
        width: 90px;
        height: 36px;
        cursor: pointer;
        border-radius: 5px;
        transition: .5s;
        background: rgba(255, 255, 255, 0);
        text-align: center;
        line-height: 36px;

        &:hover {
          color: #e59230;
          background: rgba(255, 255, 255, .16);
        }
      }
    }

  }

}

/* 文章 */
.article {
  background-color: #c7dcc8;
  padding-top: 0 !important;
  transition: .5s;
  min-width: 1000px;

  .article-body {
    position: relative;
    margin: 0 auto;
    padding: 80px 64px !important;
    width: var(--article-body-width);
    background-color: #dcebdd;
    box-sizing: border-box;
    transition: .5s;

    .article-desc {
      display: flex;
      justify-content: start;
      color: grey;
      margin: 10px 0;

      .article-desc-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
    }

    .article-title {
      text-align: left !important;
      font-size: calc(var(--article-font-size) * 1.5)
    }

    .article-content {
      text-indent: 2rem;
      font-size: var(--article-font-size);
    }
  }

  &.night {
    background-color: #0a0a0a;

    .article-body {
      background-color: #111111;
      color: rgba(255, 255, 255, .6) !important;

      .article-desc {
        color: rgba(255, 255, 255, .4);
      }

      .article-content {
        color: #989898 !important;
      }
    }

    .right-nav-item {
      background-color: #191919;
      color: #989898 !important;

      &:hover {
        color: #e59230 !important;
      }
    }

    .setting-box {
      background-color: #1f1f1f;
      color: rgba(255, 255, 255, .6) !important;
    }
  }
}